body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);

  color: var(--primary-color);
  background-color: var(--primary-bgr);
}

.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
