h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  // ширина картинки не буде більшою за контейнер
  max-width: 100%;
  height: auto;
  //ширина картинки 100% контейнера
  width: 100%;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}
