.benefits__list {
 display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__icon {
  @extend %flex-centered;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bgr);
  border-radius: 4px;
}
.benefits__title {
  margin-bottom: 10px;
  @include font(14px, 1.14, null, null);
  text-transform: uppercase;
  text-align: center;

  color: var(--title-color);
}
.benefits__txt {
  line-height: 1.71;
}
