.header {
  border-bottom: 1px solid var(--header-border-color);
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--black-color);
}
.burger-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(null, 1.14, 500, 0.02em);
  color: var(--title-color);
  outline: transparent;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  @include font(12px, 1.14, 500, 0.02em);
  color: currentColor;
  outline: transparent;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.contact__icon {
  fill: currentColor;
}
