.header {
  border-bottom: 1px solid var(--header-border-color);
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--black-color);
}
.burger-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
    margin-left: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.menu__item {
  position: relative;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(null, 1.14, 500, 0.02em);
  color: var(--title-color);
  outline: transparent;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu__link--current {
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;
  @include font(12px, 1.14, 500, 0.02em);
  color: currentColor;
  outline: transparent;

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.contact__icon {
  fill: currentColor;
}

.mobile-nav__wrap-top {
  margin-bottom: 64px;
}

.mobile-nav {
  position: fixed;
  z-index: 10;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  width: 100vw;
  height: 100vh;
  padding: 48px 15px 48px 40px;

  background-color: var(--primary-bgr);
}
.mobile-nav__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  display: block;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.78;
  letter-spacing: 0.02em;

  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-color);
    outline: transparent;
  }
}

.mobile-contact {
  margin-bottom: 64px;
}
.mobile-contact__item {
  display: block;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contact__tel {
  @include font(34px, 1.78, 500, 0.02em);
  color: #2196f3;

  @media screen and (max-width: 479px) {
    @include font(26px, 1.78, 500, 0.02em);
  }
}

.mobile-contact__address {
  @include font(24px, 1.17, 500, 0.02em);
  color: currentColor;
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.mobile-socials__item {
  position: relative;
}
.mobile-socials__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;

  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
}
