.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: var(--hero-footer-bgr);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(var(--gradient-hero-bgr), var(--gradient-hero-bgr)),
      url(../images/hero-mobile.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(var(--gradient-hero-bgr), var(--gradient-hero-bgr)),
      url(../images/hero-tablet.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(var(--gradient-hero-bgr), var(--gradient-hero-bgr)),
      url(../images/hero.jpg);
  }
}

.hero__title {
  display: block;
  // max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  @include font(26px, 1.62, 900, 0.06em);
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
  @media screen and (min-width: 768px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    @include font(44px, 1.36, 900, 0.06em);
    max-width: 696px;
  }
}

.hero__btn {
  @extend .btn;
  padding: 10px 32px;
}
