.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter__btn {
  display: block;
  padding: 6px 25px;

  @include font(16px, 1.62, 500, 0.03em);
  text-align: center;

  color: var(--title-color);
  background-color: var(--secondary-bgr);
  outline: transparent;

  border-radius: 4px;
  border: none;

  transition: background-color var(--timing-function), color var(--timing-function),
    box-shadow var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filter__btn--active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*--------------------- Проекти-------------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}
.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: transparent;

  transition: box-shadow var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects__img {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  overflow: auto;
  transition: transform var(--timing-function);

  width: 100%;
  height: 100%;

  background-color: var(--project-overlay);

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(-100%);
  }
}
.projects__desc {
  @include font(18px, 1.56, null, null);

  color: var(--white-color);
}

.projects__title {
  margin-bottom: 4px;

  @include font(18px, 2, null, 0.06em);
  color: var(--title-color);
}
.projects__type {
  @include font(16px, 1.88, null, null);
  color: var(--primary-color);
}
.projects__wrap {
  padding: 20px 24px;

  border: 1px solid var(--project-border-color);
  border-top: none;
  flex-grow: 1;
}
