.works {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.works__list {
  display: flex;
  gap: 30px;
}

.works__item {
  position: relative;
  width: calc((100% - 60px) / 3);
}
.works__overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  @extend %flex-centered;
  width: 100%;
  height: 70px;

  @extend .title;
  background-color: var(--works-overlay);
}
